openapi: 3.0.1
info:
  title: Ainized-Style-Transfer 
  description:  |
    ## Style transfer is an optimization technique used to take two images—a content image and a style reference image (such as an artwork by a famous painter)—and blend them together so the output image looks like the content image, but “painted” in the style of the style reference image.
    ---
    How to use:
      * Pick a base image
      * Pick a style image
      * Excute and wait until the result shows up
      
  version: 1.0.0
  license:
    name: "MIT"
    url: ""
servers:
  - url: 'https://master-ainize-run-style-transfer-ainize-team.endpoint.ainize.ai'

paths:
  /transfer:
    post:
      tags:
      - Style-transfer
      requestBody:
        required: true
        description: "send base and style images \n \n [sample base image](https://storage.googleapis.com/download.tensorflow.org/example_images/YellowLabradorLooking_new.jpg) \n \n [sample style image](https://storage.googleapis.com/download.tensorflow.org/example_images/Vassily_Kandinsky%2C_1913_-_Composition_7.jpg)"
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                base_image:
                  type: string
                  format: binary
                style_image:
                  type: string
                  format: binary

            encoding:
              files:
                contentType: image/*
      responses:
         '200':
            description: success
            content:
              images/*:
                  schema:
                    type: string
                    format: binary
         '400':
            description: Bad request (Can not load images)
         '500':
            description: Server Side Error
